* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.continer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* start header */


/* end header */


/* start photo */


/* start futer */

.futer {
    padding-top: 20px;
}

.futer .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    text-align: center;
    line-height: 2;
}

.futer .continer .icon i {
    font-size: 30px;
}


/* end futer */


/* start about */

.about {
    padding-top: 20px;
}

.about .continer .box {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.about .continer .box .image img {
    width: 100%;
}

.about .continer .box .text {
    line-height: 2;
    margin-left: 10px;
}

.about .continer .box .text h3 {
    color: red;
}

.about .continer .box .text h1 {
    color: black;
    font-weight: bold;
}

.about .continer .box .text p {
    color: #777;
}

.about .continer .box .text .info {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about .continer .box .text .info i {
    font-size: 30px;
}

.about .continer .box .text a {
    text-decoration: none;
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 15px;
    transition: 0.3s;
    border-radius: 10px;
}

.about .continer .box .text a:hover {
    background-color: black;
    color: white;
}

@media (max-width:991px) {
    .about .continer .box {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .about .continer .box .text .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}


/* end about */


/* start services */

.services {
    margin-top: 100px;
}

.services .continer {
    text-align: center;
    line-height: 1.5;
}

.services .continer h2 {
    color: red;
    text-transform: capitalize;
}

.services .continer hr {
    width: 4%;
    margin: 5px auto;
    border: solid 2px black;
    border-radius: 20px;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: 10px;
}

.services .content .box .image img {
    width: 100%;
}

.services .content .box .text {
    line-height: 1.5;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.services .content .box .text i {
    font-size: 30px;
}

.services .content .box .text h4 {
    font-weight: bold;
    color: white;
}

.services .content .box .footer p {
    line-height: 1.5;
    color: #777;
}

.services .content .box {
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
}


/* end services */


/* start skill */


/* start skill */

.skill {
    margin-top: 30px;
    background-color: black;
    padding: 20px;
}

.skill .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    color: white;
    margin: 10px auto;
    text-align: center;
    line-height: 2;
    padding-top: 10px;
}

.skill .continer .box i {
    font-size: 30px;
    margin-bottom: 10px;
    border: solid 2px white;
    border-radius: 50%;
    padding: 15px;
}

.skill .continer .box h2 {
    text-transform: uppercase;
}

.skill .continer .box p {
    text-transform: uppercase;
}


/* end skill */


/* start guard */


/* start security */

.sec {
    margin-top: 30px;
}

.sec .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    line-height: 2;
}

.sec .continer .frist img {
    width: 100%;
}

.sec .continer .frist h2 {
    color: red;
}

.sec .continer .frist h1 {
    color: black;
    font-weight: bold;
}

.sec .continer .frist p {
    color: #777;
    margin-bottom: 20px;
}

.sec .continer .frist a {
    text-decoration: none;
    background-color: red;
    padding: 15px;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 10px;
}

.sec .continer .frist a:hover {
    background-color: black;
    color: white;
}

.sec .continer i {
    color: black !important;
}


/* end securith */


/* start office */

.office {
    margin-top: 40px;
}

.office .continer {
    text-align: center;
    line-height: 1.5;
}

.office .continer h2 {
    color: red;
    font-weight: bold;
}

.office .continer hr {
    width: 10%;
    margin: 10px auto;
    border: solid 2px black;
    border-radius: 30px;
}

.office .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    margin: 10px;
}

.office .content .box {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.office .content .box .text {
    margin-left: 10px;
    line-height: 2;
}

.office .content .box .image {
    border: solid 1px black;
    padding: 5px;
    border-radius: 10px;
}

@media (max-width:767px) {
    .office .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        margin: 10px;
    }
    .office .content .box {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .office .content .box .image {
        border: solid 1px black;
        padding: 2px;
    }
}


/* end office */


/* start test */

.test {
    margin-top: 40px;
    background-color: #ccc;
    padding-bottom: 40px;
}

.test .continer {
    text-align: center;
    line-height: 1.5;
    padding-top: 30px;
}

.test .continer h2 {
    color: red;
    font-weight: bold;
}

.test .continer hr {
    width: 10%;
    margin: 10px auto;
    border: solid 2px black;
    border-radius: 30px;
}

.test .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    margin: 10px;
}

.test .content .box {
    background-color: white;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.test .content .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: white transparent transparent transparent;
    border-width: 15px;
    border-style: solid;
    bottom: -30px;
}

.test .content .box p {
    line-height: 2;
    color: #777;
}

.test .footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    margin: 10px;
}

.test .footer .info {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.test .footer .info .image {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.test .footer .info .image img {
    border-radius: 50%;
}

.test .footer .info .text {
    line-height: 1.3;
    margin-left: 5px;
}

.test .footer .info .text h2 {
    color: red;
}

.test .end ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test .end ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #777;
    margin-left: 5px;
}

.test .end ul li.active {
    background-color: red;
}


/* end test */


/* start plog */

.plog {
    margin-top: 40px;
}

.plog .continer {
    text-align: center;
    line-height: 1.5;
    padding-top: 30px;
}

.plog .continer h2 {
    color: red;
    font-weight: bold;
}

.plog .continer hr {
    width: 10%;
    margin: 10px auto;
    border: solid 2px black;
    border-radius: 30px;
}

.plog .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    margin: 10px;
}

.plog .content .box img {
    width: 100%;
}

.plog .content .box h2 {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.plog .content .box .info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.plog .content .box .info i {
    font-size: 20px;
}

.plog .content .box .infoo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.plog .content .foot p {
    line-height: 2;
    color: #777;
    margin-top: 20px;
}


/* end plog */


/* start footer */

ul {
    list-style-type: none;
}

.foooter {
    background-color: black;
    color: white;
    padding: 30px;
}

.foooter .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.foooter .continer .box h2 {
    color: red;
    font-style: italic;
}

.foooter .continer .box ul {
    line-height: 2;
}

.foooter .continer ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.2s;
}

.foooter .continer ul li a:hover {
    color: red;
}

.foooter .continer .box i {
    margin-right: 10px;
}

.foooter .endd {
    text-align: center;
    line-height: 2;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}


/* end footer */